*{
    color:#191919;
}


a {
    text-decoration: none;   
}

header {
    text-align: center;
    background-color: rgb(127, 220, 220);
  
}

.logo{
    width:100%;
    background:snow;
    height: 120px;
}
.carrera {
    margin-top: 40px;
    padding: 30px;
    width: 100%;
    border: 3px solid rgb(0,204,204);
  
 
}
footer{
    margin:0;
     height: 200px;
  
     background-color: rgb(55, 51, 52);
  }
select{
    text-align: center;
}
.volver{
   font-size:40px;
}
table, tr, td {
	border: 1px solid  rgb(0,204,204);
	border-collapse: collapse;
	padding: 2px;
	/* margin-bottom: 10px; */
}
table {
	height: 40px;
	text-align: center;
	width: 90%;
	margin: 0 100px;
    
}
.formulario-comentarios{
   width:90%;
   margin: 0px 100px ;
   border: 1px solid  rgb(0,204,204);
   padding: 30px;
}
.container-filtros{
    display:flex;
    justify-content: center;
    width: 90%;
    margin:100px;
    padding: 30px;
    border: 1px solid  rgb(0,204,204);
}
.container-materias{
    display:flex;
    justify-content: center;
    flex-direction:column;
}
.imagen-item{
    height: 200px;
    width: 400px;
}
.contenedor-paginacion {
    margin-top: 2%;
    display: flex;
    align-items: center;
    }
    
    .paginacion {
    display: flex;
    padding-left: 0;
    list-style: none;
    border-radius: 0.25rem;
    }
    
    .pagina-link {
    color: #4a4a4a;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
    background-color: #fff;
    border: 1px solid #dee2e6;
    }
    
    .pagina-link:hover {
    color: #fff;
    background-color: blanchedalmond;
    }
@media (min-width: 750px){
    .carrera {
        margin-top: 40px;
        padding: 30px;
        width: 30%;
        border: 3px solid rgb(0,204,204);
      
     
    }
}